<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676047634538-bvsvu3ep4lo0v0jlue8pu3ulal2725uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676047634538-bvsvu3ep4lo0v0jlue8pu3ulal2725uh</string>
	<key>API_KEY</key>
	<string>AIzaSyAEjDXlX2tSvKF19R-hektDM8BXUH-SpqI</string>
	<key>GCM_SENDER_ID</key>
	<string>676047634538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.yowwlr</string>
	<key>PROJECT_ID</key>
	<string>yowwlr-1700c</string>
	<key>STORAGE_BUCKET</key>
	<string>yowwlr-1700c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:676047634538:ios:526b263787bb1079</string>
	<key>DATABASE_URL</key>
	<string>https://yowwlr-1700c.firebaseio.com</string>
</dict>
</plist>