Label {
  padding-left: 5;
  padding-right: 5;
}

Image {
  margin: 4;
}

ActionBar {
  background-color: white;
}

Button {
  text-align: left; 
  padding-left: 3;
}
.card {
  padding: 4;
  margin: 4;
}
.container {
  border-bottom-width: 1;
  border-color: lightgray;
  justify-content: flex-start;
  padding-right: 5;
  padding-left: 5;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.pad {
  padding-top: 5;
  padding-bottom: 10;
  
}

.bold {
  font-size: 15;
  font-weight: bold;
}

.small {
  font-size: 15;
  color: darkgray;
}

.tiny {
  font-size: 5;
  padding-top: 7;
}

.regular {
  font-size: 15;
}

.large {
  font-size: 20;
}

.fa {
  font-family: FontAwesome, fontawesome-webfont;
}

.grey {
  color: lightgray;
}

.blue {
  color: #4099FF;
}
/*re-yowl*/
.ry {
  font-size: 12;
  margin: 2;
  margin-top: 10;
}

/*.border {
  border-width: 1;
  border-radius: 3;
  border-color: lightgrey;
}*/

@import 'nativescript-theme-core/css/core.light.css';
